<h1>Create a New Review</h1>
<form method="POST" action="/review">
<label for="book_name">Title of Book: <label><br>
<input type="text" name="book_name">

<br><br>

<label for="book_author">Author: </label><br>
<input type="text" name="book_author">

<br><br>

<label for="book_review">Write Review Below:</label>
<br>
<textarea type="text" name="book_review" cols="60" rows="12"></textarea>

<br><br>
<input type="submit" value="Publish Review">
</form>