<h1>Welcome New Reader!</h1>
<h3>Please fill in your information below:</h3>
<br>
<form method="post" action="/signup">

<label for="email">Email: </label>
<br>
<input type="text" id="email" name="email">

<br><br>

<label for="username">Username: </label>
<br>
<input type="text" id="username" name="username">

<br><br>

<label for="password">Password: </label>
<br>
<input type="text" id="password" name="password">
<br><br>
<input type="submit" id="signup" value="Sign Up">

</form>