<form method="POST" action="/user/<%=@user.id%>">
<input type="hidden" name="_method" value="PATCH">

<label for="username">Username: </label>
<br>
<input type="text" name="user[username]" >
<br><br>
<label for="password">Password: </label>
<br>
<input type="password" name="user[password]" value=<%=@user.password%>>

<input type="submit" value="Update Account" >

</form>