<h1>Welcome New Reader!</h1>
<h3>Please fill in your information below:</h3>
<br>
<form method="POST" action="/signup">

<label>Email: </label>
<br>
<input type="text" id="email" name="email">

<br><br>

<label>Username: </label>
<br>
<input type="text" id="username" name="username">

<br><br>

<label>Password: </label>
<br>
<input type="text" id="password" name="password">
<br><br>
<input type="submit" id="signup" value="Sign Up">

</form>