<!DOCTYPE html>
<html>
<head>
<title>Bookmarked Welcome Page</title>
</head>
<body>
<h1>Welcome to Bookmarked!</h1>
<h3>This is where you can review the books you have read or read other reviews to find your next book!</h3>
<P>To write your own review <a href = '/login'>log in</a> or <a href = '/signup'>sign up.</a></P>
</body>
</html>

